# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#set up gmaps function
gmaps.configure(api_key=g_key)

#read csv file into panda dataframe
FileData_df = pd.read_csv('../WeatherPy/WeatherData.csv')
VacationData_df = FileData_df.dropna()
del VacationData_df["Unnamed: 0"]
VacationData_df

,City,Country,Date,Latitude,Longitude,Maximum Temperature,Wind Speed,Humidity,Cloudiness
0,castro,BR,1605236349,-24.79,-50.01,60.67,2.51,95,2
1,avarua,CK,1605236349,-21.21,-159.78,78.80,9.17,74,57
2,bosaso,SO,1605236349,11.28,49.18,73.31,2.64,80,96
3,erdenet,MN,1605236349,49.03,104.08,33.62,4.52,67,0
4,yarim,YE,1605236349,14.30,44.38,45.03,5.12,58,0
...,...,...,...,...,...,...,...,...,...
543,yulara,AU,1605236489,-25.24,130.99,93.20,10.29,9,0
544,rudsar,IR,1605236489,37.14,50.29,55.40,6.93,82,75
545,korla,CN,1605236489,41.76,86.15,44.76,4.52,47,0
546,belaya gora,RU,1605236489,68.53,146.42,-18.06,1.39,89,37
547,alta floresta,BR,1605236490,-9.88,-56.09,71.11,2.80,95,100

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#remove lat/long cooridinates from data frame and store in list.
Coordinates = VacationData_df[["Latitude","Longitude"]]

#remove humidity data from data frame and store in list.
Humidity = VacationData_df["Humidity"]

#create gmaps base diagram
fig = gmaps.figure()

#create heat map
VacayHeatMap = gmaps.heatmap_layer(Coordinates, weights=Humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)
#merge layer
fig.add_layer(VacayHeatMap)

#display
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#create dataframe of cloudiness equal to zero
VacationDataCloud_df = VacationData_df[VacationData_df['Cloudiness']==0]

#create dataframe of maximum temperature greater than 70
VacationDataTemperature_df = VacationDataCloud_df[VacationDataCloud_df['Maximum Temperature']>=70]

#create dataframe of maximum temperature less than 90
VacationDataTemperature2_df = VacationDataTemperature_df[VacationDataTemperature_df['Maximum Temperature']<=90]

#create dataframe of wind speed less than equal 10
VacationDataWind_df = VacationDataTemperature2_df[VacationDataTemperature2_df['Wind Speed']<=10]

#create dataframe of humidity less than 80%
VacationHappy_df = VacationDataWind_df[VacationDataWind_df['Humidity']<80]

#drop rows & reset index, then display
VacationHappy2_df = VacationHappy_df.reset_index()
VacationHappy2_df

,index,City,Country,Date,Latitude,Longitude,Maximum Temperature,Wind Speed,Humidity,Cloudiness
0,53,mataura,NZ,1605236359,-46.19,168.86,73.00,8.01,46,0
1,54,bluff,NZ,1605236360,-46.60,168.33,73.00,8.01,46,0
2,106,saint-joseph,RE,1605236372,-21.37,55.62,75.20,5.82,57,0
3,110,ormara,PK,1605236372,25.21,64.64,78.46,5.79,44,0
4,134,hefei,CN,1605236378,31.86,117.28,71.01,6.71,55,0
5,152,saint-pierre,RE,1605236381,-21.34,55.48,75.20,5.82,57,0
6,171,saint-philippe,RE,1605236385,-21.36,55.77,75.20,5.82,57,0
7,193,sao filipe,CV,1605236390,14.90,-24.50,80.91,2.84,61,0
8,255,musafirkhana,IN,1605236413,26.37,81.80,75.13,3.09,34,0
9,279,khonsa,IN,1605236421,27.02,95.57,72.23,2.57,50,0
10,307,linguere,SN,1605236429,15.40,-15.12,78.33,9.04,17,0
11,318,tari,NG,1605236433,12.41,4.49,72.72,9.57,25,0
12,337,tura,IN,1605236438,25.52,90.22,76.32,3.13,65,0
13,340,nioro,GM,1605236439,13.35,-15.75,73.13,2.30,27,0
14,374,cap malheureux,MU,1605236448,-19.98,57.61,78.01,1.99,75,0
15,384,sur,OM,1605236451,22.57,59.53,73.85,4.23,59,0
16,420,tuatapere,NZ,1605236460,-46.13,167.68,72.00,8.01,47,0
17,437,bikaner,IN,1605236414,28.02,73.30,71.56,5.28,23,0
18,459,tezu,IN,1605236470,27.92,96.17,77.70,2.28,41,0
19,491,tera,NE,1605236477,14.01,0.75,74.12,9.01,20,0
20,518,lafiagi,NG,1605236482,8.87,5.42,74.39,2.53,43,0
21,532,dindori,IN,1605236486,22.95,81.08,73.80,2.46,69,0
22,536,sotouboua,TG,1605236487,8.57,0.98,73.35,3.42,44,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#create hotel_df 
hotel_df = VacationHappy2_df

#add "Hotel Name" column
hotel_df["Hotel Name"] = ""
hotel_df

,index,City,Country,Date,Latitude,Longitude,Maximum Temperature,Wind Speed,Humidity,Cloudiness,Hotel Name
0,53,mataura,NZ,1605236359,-46.19,168.86,73.00,8.01,46,0,
1,54,bluff,NZ,1605236360,-46.60,168.33,73.00,8.01,46,0,
2,106,saint-joseph,RE,1605236372,-21.37,55.62,75.20,5.82,57,0,
3,110,ormara,PK,1605236372,25.21,64.64,78.46,5.79,44,0,
4,134,hefei,CN,1605236378,31.86,117.28,71.01,6.71,55,0,
5,152,saint-pierre,RE,1605236381,-21.34,55.48,75.20,5.82,57,0,
6,171,saint-philippe,RE,1605236385,-21.36,55.77,75.20,5.82,57,0,
7,193,sao filipe,CV,1605236390,14.90,-24.50,80.91,2.84,61,0,
8,255,musafirkhana,IN,1605236413,26.37,81.80,75.13,3.09,34,0,
9,279,khonsa,IN,1605236421,27.02,95.57,72.23,2.57,50,0,
10,307,linguere,SN,1605236429,15.40,-15.12,78.33,9.04,17,0,
11,318,tari,NG,1605236433,12.41,4.49,72.72,9.57,25,0,
12,337,tura,IN,1605236438,25.52,90.22,76.32,3.13,65,0,
13,340,nioro,GM,1605236439,13.35,-15.75,73.13,2.30,27,0,
14,374,cap malheureux,MU,1605236448,-19.98,57.61,78.01,1.99,75,0,
15,384,sur,OM,1605236451,22.57,59.53,73.85,4.23,59,0,
16,420,tuatapere,NZ,1605236460,-46.13,167.68,72.00,8.01,47,0,
17,437,bikaner,IN,1605236414,28.02,73.30,71.56,5.28,23,0,
18,459,tezu,IN,1605236470,27.92,96.17,77.70,2.28,41,0,
19,491,tera,NE,1605236477,14.01,0.75,74.12,9.01,20,0,
20,518,lafiagi,NG,1605236482,8.87,5.42,74.39,2.53,43,0,
21,532,dindori,IN,1605236486,22.95,81.08,73.80,2.46,69,0,
22,536,sotouboua,TG,1605236487,8.57,0.98,73.35,3.42,44,0,

In [7]:
#create counter variable and list for hotel search
Hotels =[]
i = 0

#loop through cities in hotel dataframe to find hotels 
for cities in hotel_df['City']:
    
    #create variable to store city coordinates
    CityCoordinates = str(hotel_df['Latitude'][i])+' , '+str(hotel_df['Longitude'][i])

    #set up parameters for nearby search API call
    Radius = 5000
    Type = 'lodging'
    params = {"location": CityCoordinates, "radius": Radius, "type": Type, "key": g_key}
    baseURL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #update counter variable
    i = i + 1
    
    try:
        HotelsNearby = requests.get(baseURL, params=params).json()
        Hotels.append(HotelsNearby['results'][0]['name'])
        
    except IndexError:
        Hotels.append(np.nan)

#append dataframe with hotel names
hotel_df['Hotel Name'] = Hotels
hotel_df

,index,City,Country,Date,Latitude,Longitude,Maximum Temperature,Wind Speed,Humidity,Cloudiness,Hotel Name
0,53,mataura,NZ,1605236359,-46.19,168.86,73.00,8.01,46,0,Ellie's Villa
1,54,bluff,NZ,1605236360,-46.60,168.33,73.00,8.01,46,0,Bluff Homestead - Guesthouse & Campervan Park
2,106,saint-joseph,RE,1605236372,-21.37,55.62,75.20,5.82,57,0,"""Plantation Bed and Breakfast"
3,110,ormara,PK,1605236372,25.21,64.64,78.46,5.79,44,0,NaN
4,134,hefei,CN,1605236378,31.86,117.28,71.01,6.71,55,0,Jinhuan Hotel
5,152,saint-pierre,RE,1605236381,-21.34,55.48,75.20,5.82,57,0,Lindsey HÃ´tel
6,171,saint-philippe,RE,1605236385,-21.36,55.77,75.20,5.82,57,0,"Chambres d'hÃ´te ""La TrinitÃ©"""
7,193,sao filipe,CV,1605236390,14.90,-24.50,80.91,2.84,61,0,Tortuga B&B
8,255,musafirkhana,IN,1605236413,26.37,81.80,75.13,3.09,34,0,Hindustan Sweets House
9,279,khonsa,IN,1605236421,27.02,95.57,72.23,2.57,50,0,NaN
10,307,linguere,SN,1605236429,15.40,-15.12,78.33,9.04,17,0,HÃ´tel Amadou Seck
11,318,tari,NG,1605236433,12.41,4.49,72.72,9.57,25,0,NaN
12,337,tura,IN,1605236438,25.52,90.22,76.32,3.13,65,0,Hotel RIKMAN Continental
13,340,nioro,GM,1605236439,13.35,-15.75,73.13,2.30,27,0,NaN
14,374,cap malheureux,MU,1605236448,-19.98,57.61,78.01,1.99,75,0,Pereybere Hotel & Spa
15,384,sur,OM,1605236451,22.57,59.53,73.85,4.23,59,0,Sur Plaza Hotel
16,420,tuatapere,NZ,1605236460,-46.13,167.68,72.00,8.01,47,0,Ron and Tony's Bed & Breakfast
17,437,bikaner,IN,1605236414,28.02,73.30,71.56,5.28,23,0,The Laxmi Niwas Palace
18,459,tezu,IN,1605236470,27.92,96.17,77.70,2.28,41,0,Circuit House
19,491,tera,NE,1605236477,14.01,0.75,74.12,9.01,20,0,Hotel Dar es salam
20,518,lafiagi,NG,1605236482,8.87,5.42,74.39,2.53,43,0,EMI SONMASUN BINDOFUL LAFIAGI
21,532,dindori,IN,1605236486,22.95,81.08,73.80,2.46,69,0,Maa Reva Bhojnalay
22,536,sotouboua,TG,1605236487,8.57,0.98,73.35,3.42,44,0,HÃ´tel Les Pros

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [9]:
#create google map figures
fig = gmaps.figure()

#create gmaps base diagram
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

#add marker layer
fig.add_layer(markers)

#display figure
fig

Figure(layout=FigureLayout(height='420px'))